@using eTrainingSolution.EntityFrameworkCore.Entities

@model Classroom

@{
    ViewData["Title"] = "Xóa thông tin lớp học";
}

<h1>Xóa thông tin lớp học</h1>
<p>Bạn có chắc muốn xóa thông tin lớp học này không?</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="text-center text-white bg-black">
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Capacity)</th>
            <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
            <th>Trường</th>
            <th>Khoa</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Name)</td>
            <td class="text-center">@Html.DisplayFor(model => model.Capacity)</td>
            <td class="text-center">@Html.DisplayFor(model => model.CreateDate)</td>
            <td>@Html.DisplayFor(model => model.CreatedBy)</td>
            <td>@Html.DisplayFor(model => model.Schools.Name)</td>
            <td>@Html.DisplayFor(model => model.Facults.Name)</td>
        </tr>
    </tbody>
</table>
<div>
    <form asp-action="Delete">
        <input type="submit" asp-route-id="@Model?.ID" class="btn btn-danger btn-sm" value="Delete" />
        <a asp-action="Index" class="btn btn-primary btn-sm">Quay lại</a>
    </form>
</div>