@using eTrainingSolution.EntityFrameworkCore.Entities;

@model IEnumerable<Classroom>;

@{
    ViewData["Title"] = "Danh sách các lớp";
}
<h1>Danh sách các lớp</h1>

<a class="btn btn-primary btn-sm" asp-area="Identity" asp-controller="Classes" asp-action="Create">Thêm mới</a>
<p></p>

@{
    if (Model.Count() > 0)
    {
        int stt = 1;
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-center text-white bg-black">
                    <th>Số thứ tự</th>
                    <th>@Html.DisplayNameFor(model => model.ClassName)</th>
                    <th>@Html.DisplayNameFor(model => model.ClassCapacity)</th>
                    <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                    <th>Khoa</th>
                    <th>Trường</th>
                    <th>Chức năng khác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@(stt++)</td>
                        <td>@Html.DisplayFor(ModelItem => item.ClassName)</td>
                        <td class="text-center">@Html.DisplayFor(ModelItem => item.ClassCapacity)</td>
                        <td class="text-center">@Html.DisplayFor(ModelItem => item.CreateDate)</td>
                        <td>@Html.DisplayFor(ModelItem => item.CreatedBy)</td>
                        <td>@Html.DisplayFor(ModelItem => item.Facultys.FacultyName)</td>
                        <td>@Html.DisplayFor(ModelItem => item.Schools.SchoolName)</td>
                        <td class="text-center">
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.ID">Sửa</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ID">Xóa</a>
                            <a class="btn btn-info btn-sm" asp-action="View" asp-route-id="@item.ID">Xem</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-center text-white bg-black">
                    <th>@Html.DisplayNameFor(model => model.ClassName)</th>
                    <th>@Html.DisplayNameFor(model => model.ClassCapacity)</th>
                    <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                    <th>Khoa</th>
                    <th>Trường</th>
                </tr>
            </thead>
        </table>
    }
}