@using eTrainingSolution.EntityFrameworkCore.Entities

@model Classroom

@{
    ViewData["Title"] = "Thông tin lớp học";
}

<h1>Thông tin lớp học</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="text-center text-white bg-black">
            <th>@Html.DisplayNameFor(model => model.ClassName)</th>
            <th>@Html.DisplayNameFor(model => model.ClassCapacity)</th>
            <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
            <th>Khoa</th>
            <th>Trường</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.ClassName)</td>
            <td class="text-center">@Html.DisplayFor(model => model.ClassCapacity)</td>
            <td class="text-center">@Html.DisplayFor(model => model.CreateDate)</td>
            <td>@Html.DisplayFor(model => model.CreatedBy)</td>
            <td>@Html.DisplayFor(model => model.Facultys.FacultyName)</td>
            <td>@Html.DisplayFor(model => model.Schools.SchoolName)</td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-danger">Sửa</a>
    <a asp-action="Index" class="btn btn-primary">Quay lại</a>
</div>