@using Microsoft.AspNetCore.Identity;
@using eTrainingSolution.EntityFrameworkCore.Entities;
@using eTrainingSolution.WebApp.Areas.Identity.Models.Account;

@model LoginModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Đăng nhập";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <h4>Cùng đăng nhập vào để xem những thú vị nhé !</h4>
            <div class="col-md-10">
                <hr>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" name="Email" class="form-control" type="email"/>
                    <span asp-validation-for="Email" name="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"> </label>
                <div class="col-md-10">
                    <input asp-for="Password" name="Password" class="form-control" type="password"/>
                    <span asp-validation-for="Password" name="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input asp-for="RememberMe" id="RememberMe" name="RememberMe" type="checkbox" value="true" /> @Html.DisplayNameFor(m => m.RememberMe)
                        <p>
                            <a asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]">Quên mật khẩu?</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    <a class="btn btn-danger" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Đăng ký tài khoản mới</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Đăng nhập bằng tài khoản</h4>
            <hr />
            @{
                var loginExternal = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginExternal.Count == 0)
                {
                    <div>
                        <p>
                            Ứng dụng chưa hỗ trợ đăng nhập từ tài khoản ngoài
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div>
                            <p>
                                @foreach (var provider in loginExternal)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.Name account">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}