@using Microsoft.AspNetCore.Identity;
@using eTrainingSolution.EntityFrameworkCore.Entities;
@using eTrainingSolution.WebApp.Areas.Identity.Models.Account;


@model UserInfo;
@*inject để quản lý việc đăng nhập, đăng ký*@
@inject SignInManager<UserInfo> SignInManager; 

@*Thiết lập title cho trang*@
@{
    ViewData["Title"] = "Đăng ký tài khoản"; // ViewData dùng để truyền dữ liệu từ Controller sang View
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h4>Điền thông tin tài khoản mới nhé!</h4>
            <div class="col-md-10">
                <hr>
            </div>
            <div class="form-group" >
                <label asp-for="Email" class="col-md-10 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" name="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" name="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-10 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" name="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" name="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-10 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            @if (@ViewBag.isExitUser == false)
            {
                <div class="form-group">
                    <label></label>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="SchoolID" class="control-label"></label>
                    <div class="col-md-10">
                        <select id="ddlSchool" asp-for="SchoolID" class="form-control" asp-items="ViewBag.SchoolID">
                            <option>Chọn trường học</option>
                        </select>
                        <span class="text-danger" asp-validation-for="SchoolID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FacultID" class="control-label"></label>
                    <div class="col-md-10">
                        <select id="ddlFacult" asp-for="FacultID" class="form-control" asp-items="ViewBag.FacultID">
                            <option>Chọn Khoa</option>
                        </select>
                        <span class="text-danger" asp-validation-for="FacultID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClassID" class="control-label"></label>
                    <div class="col-md-10">
                        <select id="ddlClass" asp-for="ClassID" class="form-control" asp-items="ViewBag.ClassID">
                            <option>Chọn lớp học</option>
                        </select>
                        <span class="text-danger" asp-validation-for="ClassID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label></label>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary btn-sm">Đăng ký</button>
                    </div>
                </div>
            }
           
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Đăng ký bằng sử dụng các dịch vụ ngoài</h4>
            <hr />
            @{
                var externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (externalLogins.Count == 0)
                {
                    <div>
                        <p>Phần này chưa cấu hình đăng ký từ dịch vụ ngoài.</p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in externalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>  
                    </form>
                }
            }
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        // sử dụng $(document).ready để chắc chắn rằng sau khi Dom load xong hết thì jquery sẽ được gọi đến
        $(document).ready(function(){
            /* đăng ký sự kiện change cho control có id là ddlSchool*/
            $('#ddlSchool').change(function(){
                var sltSchool = $('#ddlSchool').val(); /* Lấy ra giá trị mã trường */
                var sltFacult = $('#ddlFacult');
                sltFacult.empty();

                if(sltSchool != null && sltSchool !="")
                {
                    // .getJSON được truyền vào với 3 giá trị là url, data, success
                    /*
                        Url sẽ chỉ định đến url sẽ được gửi đến máy chủ
                        data sẽ là chỉ định dữ liệu sẽ được gửi đến máy chủ là mã trường
                        function(facultJson): hàm này sẽ được hiểu là hàm callback nó sẽ được thực thi sau khi thực hiện sự kiện change
                    */
                    $.getJSON('@Url.Action("GetFacult")', { SchoolID: sltSchool}, function(facultJson){
                        if (facultJson != null && !jQuery.isEmptyObject(facultJson)) {
                            // Luôn thêm một option để ví dụ trong trường hợp Trường đó chưa tạo Khoa thì sẽ không gây ra lỗi
                            sltFacult.append($('<option>', {
                                value: null,
                                text: "Selection Facult"
                            }));
                            $.each(facultJson, function(key, value){
                                sltFacult.append($('<option>', {
                                    value: value.value,
                                    text: value.text
                                }));
                            });
                        };
                    });
                }
            })
            $('#ddlFacult').change(function () {
                var sltSchool = $('#ddlSchool').val();
                var sltFacult = $('#ddlFacult').val();
                var sltClass = $('#ddlClass');
                sltClass.empty();

                if (sltFacult != null && sltSchool != "") {
                    $.getJSON('@Url.Action("GetClass")', {SchoolID : sltSchool,FacultID: sltFacult }, function (classJson) {
                        if (classJson != null) {
                            sltClass.append($('<option>', {
                                    value: null,
                                    text: "Select Class"
                                }));
                            $.each(classJson, function (key, value) {
                                sltClass.append($('<option>', {
                                    value: value.value,
                                    text: value.text
                                }));
                            });
                        };
                    });
                }
            })
        });
    </script>
}