@using Microsoft.AspNetCore.Identity;
@using eTrainingSolution.EntityFrameworkCore.Entities;
@using eTrainingSolution.WebApp.Areas.Identity.Models.Account;


@model User; // sử dụng model RegisterModel
@*inject để quản lý việc đăng nhập, đăng ký*@
@inject SignInManager<User> SignInManager; 

@*Thiết lập title cho trang*@
@{
    ViewData["Title"] = "Đăng ký tài khoản"; // ViewData dùng để truyền dữ liệu từ Controller sang View
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h4>Điền thông tin tài khoản mới nhé!</h4>
            <div class="col-md-10">
                <hr>
            </div>
            <div class="form-group" >
                <label asp-for="Email" class="col-md-10 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" name="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" name="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-10 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" name="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" name="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-10 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            @if (@ViewBag.isExitUser == false)
            {
                <div class="form-group">
                    <label></label>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="SchoolID" class="control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="SchoolID" class="form-control" asp-items="ViewBag.SchoolID" id="select-school" onchange="getIDSchool()">
                            <option>Chọn trường học</option>
                        </select>
                        <span class="text-danger" asp-validation-for="SchoolID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FacultyID" class="control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="FacultyID" class="form-control" asp-items="ViewBag.FacultyID" id="select-faculity">
                            <option>Chọn Khoa</option>
                        </select>
                        <span class="text-danger" asp-validation-for="FacultyID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClassID" class="control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="ClassID" class="form-control" asp-items="ViewBag.ClassID" id="select-classes">
                            <option>Chọn lớp học</option>
                        </select>
                        <span class="text-danger" asp-validation-for="ClassID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label></label>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                    </div>
                </div>
            }
           
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Đăng ký bằng sử dụng các dịch vụ ngoài</h4>
            <hr />
            @{
                var externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (externalLogins.Count == 0)
                {
                    <div>
                        <p>Phần này chưa cấu hình đăng ký từ dịch vụ ngoài.</p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in externalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function getIDSchool(){
            // lấy ra id của trường được chọn
            var selectSchool = document.getElementById("select-school").value

            // lấy mảng danh sách Khoa
            var listFaculty = document.getElementById("select-faculity")

            var ArrFaculty = listFaculty.children;
            

            // tạo ra 1 mảng 
            var faculties = []
            for(var i = 0; i < ArrFaculty.length; i++){
                faculties.push(ArrFaculty[i]);
            }

            var result = faculties.filter(e => e.value === selectSchool);

            console.log(result);
        }
    </script>
}