@using eTrainingSolution.EntityFrameworkCore.Entities

@model School

@{
    ViewData["Title"] = "Xóa thông tin trường học";
}

<h1>Xóa thông tin</h1>

<div>
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr class="text-center text-white bg-dark">
                <th>@Html.DisplayNameFor(model => model.SchoolName)</th>
                <th>@Html.DisplayNameFor(model => model.Address)</th>
                <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
                <th>@Html.DisplayNameFor(model => model.CapacityOfTheSchool)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.SchoolName)</td>
                <td>@Html.DisplayFor(model => model.Address)</td>
                <td class="text-center">@Html.DisplayFor(model => model.CreateDate)</td>
                <td class="text-center">@Html.DisplayFor(model => model.CapacityOfTheSchool)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <form asp-action="Delete">
        <input type="submit" asp-route-id="@Model?.Id" class="btn btn-danger" value="Delete" />
        <a asp-action="Index" class="btn btn-primary">Quay lại</a>
    </form>
</div>