@using eTrainingSolution.EntityFrameworkCore.Entities

@model IEnumerable<School>

@{
    ViewData["Title"] = "Danh sách";
}
<h1>Danh sách trường học</h1>

<button class="btn btn-primary" asp-action="Create">Thêm mới</button>

<table class="table table-bordered">
    <thead>
        <tr>
            @*DisplayNamFor: sẽ hiển thị tên của thuộc tính*@
            <th>@Html.DisplayNameFor(model => model.SchoolName)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
            <th>@Html.DisplayNameFor(model => model.CapacityOfTheSchool)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>@Html.DisplayFor(modelItem => item.SchoolName)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                <td>@Html.DisplayFor(modelItem => item.CapacityOfTheSchool)</td>
                <td>
                    <button asp-action="Edit" asp-route-id="@item.Id">Sửa</button>
                    <button asp-action="Delete" asp-route-id="@item.Id">Xóa</button>
                    <button asp-action="View" asp-route-id="@item.Id">Xem</button>
                </td>
            </tr>
        }
    </tbody>
</table>







