@using eTrainingSolution.EntityFrameworkCore.Entities

@model IEnumerable<School>

@{
    ViewData["Title"] = "Danh sách trường học";
}
<h1>Danh sách trường học</h1>

<a class="btn btn-primary" asp-action="Create">Thêm mới</a>
<p></p>

@{
    if(Model.Count() > 0)
    {
        int stt = 1;
        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr class="text-center text-white bg-dark">
                    @*DisplayNamFor: sẽ hiển thị tên của thuộc tính*@
                    <th>Số thứ tự</th>
                    <th>@Html.DisplayNameFor(model => model.SchoolName)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
                    <th>@Html.DisplayNameFor(model => model.CapacityOfTheSchool)</th>
                    <th>Chức năng khác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@(stt++)</td>
                        <td>@Html.DisplayFor(modelItem => item.SchoolName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.CreateDate)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.CapacityOfTheSchool)</td>
                        <td class="text-center">
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                            <a class="btn btn-info" asp-action="View" asp-route-id="@item.Id">Xem</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else{
        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr class="text-center text-white bg-dark">
                    @*DisplayNamFor: sẽ hiển thị tên của thuộc tính*@
                    <th>@Html.DisplayNameFor(model => model.SchoolName)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
                    <th>@Html.DisplayNameFor(model => model.CapacityOfTheSchool)</th>
                </tr>
            </thead>
        </table>
    }
}